<%- include ('header') -%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card" >
                <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="..." style="height:200px; width:100%;">
                <div class="card-body">
                  <h6 class="card-title"> <%= postTitle %> </h6>
                  <!-- <p class="card-text"> <%= postBody %> </p> -->
                  <a href="#" class="btn btn-primary btn-dark p-1">Like</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="..." style="height:200px; width:100%;">
                <div class="card-body">
                  <h6 class="card-title"> <%= postTitle %> </h6>
                  <!-- <p class="card-text"> <%= postBody %> </p> -->
                  <a href="#" class="btn btn-primary btn-dark p-1">Like</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="..." style="height:200px; width:100%;">
                <div class="card-body">
                  <h6 class="card-title"> <%= postTitle %> </h6>
                  <!-- <p class="card-text"> <%= postBody %> </p> -->
                  <a href="#" class="btn btn-primary btn-dark p-1">Like</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="..." style="height:200px; width:100%;">
                <div class="card-body">
                  <h6 class="card-title"> <%= postTitle %> </h6>
                  <!-- <p class="card-text"> <%= postBody %> </p> -->
                  <a href="#" class="btn btn-primary btn-dark p-1">Like</a>
                </div>
              </div>
        </div>
    </div>
</div>
<%- include ('footer') -%>